/*
 *= require_tree .
 *= require_self
*/

body {
  font-size: 240%;
}

.rails-img {
  max-width: 55%;
}

.doug-img {
  max-width: 40%;
}

button {
  font-size: 35px;
}

strike {
  font-size: smaller;
}
#motto {
  font-family: 'Coming Soon', cursive;
}
