<div class="container">
<h2>Analytics and Why We Need Them</h2>

<p>We aim to scale this app upward in way that allows for the most accurate incrementation of our users' literacy levels as possible. In doing so, we plan on using IRT (Item Response Theory) testing software to make sure we are both using appropriate content levels as well as informing our users of their progress as carefully and exactly as we can.</p>

<h3>Our Data Will Look Really Fun. Like This:</h3>
<img src="http://assess.com/xcart/skin/common_files/images/software/Xcalibre4/X41_item_output.jpg">
</div>