<div class="container">
<h2 class="caitlin">Caitlin "With A C" Johnson</h2>

<div class="hover-tile-outer">
  <div class="hover-tile-container">
    <div class="hover-tile hover-tile-visible"></div>
    <div class="hover-tile hover-tile-hidden">
      <h4>Back-End Fun Things</h4>
      <p>We developed our app using a Rails API as our back-end. This allowed us to render all of our content as JSON objects that could be efficiently passed to our front-end and parsed dynamically into d3 and then into Swift for your viewing and playing pleasure.</p>
    </div>
  </div>
</div>

<h4>It looks like this:</h4>
<img src="http://jetruby.com/expertise/wp-content/uploads/2016/02/rsz_railsapi-1.jpg">

<a href="/page6">Back</a>
</div>
