<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>Overview</h4>
      <h1>What is Swift?</h1>
      <p>Swift is a programming language that Apple developed for use in creating iOS apps. This forms much of our front end, meaning that most of what you see on these app pages was created using Swift, with the exception of the Javascript game in our app.
      </p>

      <h4>Overview</h4>
      <h1>Challenges</h1>
      <p>The hardest thing about writing in Swift was getting the two languages, Javascript and Swift, to talk to each other. What we did here is actually embed a Javascript app within our Swift app, so that we could connect all of our hard work together. It actually took me 3 whole days to figure out how to do that, which is a lifetime in DBC standards. I also discovered how nitpicky Apple was about everything. I had to import 17 different logo sizes, my developer certificate kept getting revoked, so I couldn't test our app on Jeff's phone.
      </p>

      <h4>Overview</h4>
      <h1>What I Learned</h1>
      <p>Swift can be a very powerful tool, but using Apple's development interface, Xcode, can be very maddening considering that half the time, the program crashes and hangs up on errors that just magically go away when you close it and start over.
      </p>
  </div>
</div>


<a href="/page6">Back</a>
