<h3>Disclaimer:</h3>

<p>
  This presentation was written with a sinatra web app consisting entirely of static html pages. If this offends anyone, please hold your comments until never.
</p>

<img class="rails-img" src="/images/rails_screenshot.jpg" alt="rails_screenshot"><br>

<a href="/page1">Last page</a><span> | </span>
<a href="/page3">Next page</a>
