<h1>We'd like to thank:</h1>

<xmp><ul> (its unordered cuz everyone is the best!)</xmp>

<ul>
  <li>Family cuz family</li><br>
  <li>Ellie cuz mad Swift skillz!!</li>
  <li>Queen JavaScript aka Ultimate Karaoke Master aka aka Alyssa</li>
  <li>Matt "I love d3" Baker</li><br>
  <li>Anyone who disruptively howls when someone says "wolves"</li>
  <li>Other friends too I guess sometimes occasionally yay them!</li>
</ul>

<xmp></ul></xmp>
<br><br>
<a href="/page2">Last page</a>
<a href="/page4">Next page</a>
