<h3>Disclaimer:</h3>

<p>
  This presentation was written with a Rails 5 web app consisting entirely of static html pages. If this offends anyone, please hold your comments until never.
</p>

<%= image_tag "rails_screenshot.jpg", class: "rails-img" %><br>

<a href="/page1">Last page</a>
<a href="/page3">Next page</a>
