<p><i>Ariel Malka</i> is a <i>developer</i> based in <i>Tel-Aviv</i>! <i> &lt;i&gt; tags!</i></p>
<br>
<p>He reached out to us! But his source code is written in C++...</p>
<br>
<p>Hence, our motto was born: <button>Click to show motto</button><span id="motto"></span></p><br>
<p><strike>(shh javascript is broken, refresh page first/don't tell Alyssa)</strike></p>
<br><br><br><br>
<a href="/page3">Last page</a>
<a href="/page5">Next page</a>
